---
import Layout from "../../layouts/Layout.astro";
import Header from "../../layouts/Header.astro";
import Footer from "../../layouts/Footer.astro";
import Resources from "../../components/Resources.astro";
import ElevateBar from "../../components/ElevateBar.astro";
import IntegrationPartners from "../../components/IntegrationPartners.astro";
import LftcontentRytimg from "../../components/solutions/LftcontentRytimg.astro";
import CustomerTestimonial from "../../components/solutions/CustomerTestimonial.astro";
import InteractionSection from "../../components/solutions/InteractionSection.astro";
import InnerBanner from "../../images/inner-page-banner.svg";
---

<Layout title="MobileApp">
  <Header />
  <main class="servicespage">
    <!-- <InteractionSection /> -->
    <LftcontentRytimg />
    <CustomerTestimonial />
    <IntegrationPartners />
    <ElevateBar />
    <Resources />
  </main>
  <Footer />
</Layout>
