---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
import HeroBanner from "../components/HeroBanner.astro";
import Resources from "../components/Resources.astro";
import ElevateBar from "../components/ElevateBar.astro";
import IntegrationPartners from "../components/IntegrationPartners.astro";
import ZuperStatistics from "../components/ZuperStatistics.astro";
import Companies from "../components/Companies.astro";
import ProductModule from "../components/ProductModule.astro";
import CustomerSlider from "../components/CustomerSlider.astro";
---

<Layout title="Home">
  <Header />
  <main>
    <HeroBanner />
    <Companies />
    <ProductModule />
    <ZuperStatistics />
    <CustomerSlider />
    <IntegrationPartners />
    <ElevateBar />
    <Resources />
  </main>
  <Footer />
  <script>
    import "../js/main";
  </script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"
  ></script>
</Layout>
