---
// import img1 from "../images/blog-img_1.jpg";
import { Image } from "astro:assets";
---

<section class="ElevateBar">
  <div class="container">
    <div
      class="p-5 sm:p-12 md:p-14 lg:p-16 bg-[#12344D] rounded-[20px] text-white text-center"
    >
      <h4 class="text-up js-scroll text-3xl md:text-5xl font-black pb-6">
        Elevate your Field Service Business
      </h4>
      <a
        href="javascript:;"
        class="text-up js-scroll common_bt inline-block bg-[#FD5000] text-white hover:bg-white hover:text-[#FD5000]"
        title="Try Zuper for free">Try Zuper for free</a
      >
    </div>
  </div>
</section>
