---
import img1 from "../images/blog-img_1.jpg";
import img2 from "../images/blog-img_2.jpg";
import img3 from "../images/blog-img_3.jpg";
import { Image } from "astro:assets";
---

<section class="resource">
  <div class="container">
    <h3
      class="text-up js-scroll sub-title text-4xl md:text-5xl font-black pb-6 text-[#12344D]"
    >
      Resources
    </h3>
    <div
      class="text-up js-scroll tab_container flex flex-col sm:inline-flex sm:flex-row rounded-sm justify-center w-full pt-6 gap-6"
    >
      <button
        class="text-[#12344D] bg-transparent border border-solid border--[#12344D] hover:bg-[#12344D] hover:text-white active:bg-[#12344D] font-medium text-lg px-4 py-2 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button"
      >
        Blogs
      </button>
      <button
        class="text-[#12344D] bg-transparent border border-solid border--[#12344D] hover:bg-[#12344D] hover:text-white active:bg-[#12344D] font-medium text-lg px-4 py-2 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button"
      >
        Podcast
      </button>
      <button
        class="text-[#12344D] bg-transparent border border-solid border--[#12344D] hover:bg-[#12344D] hover:text-white active:bg-[#12344D] font-medium text-lg px-4 py-2 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button"
      >
        eBooks
      </button>
      <button
        class="text-[#12344D] bg-transparent border border-solid border--[#12344D] hover:bg-[#12344D] hover:text-white active:bg-[#12344D] font-medium text-lg px-4 py-2 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button"
      >
        Free Tools
      </button>
    </div>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 place-items-center lg:pt-12 md:pb-14"
    >
      <div
        class="text-up js-scroll max-w-sm bg-white border border-[#12344D] rounded-3xl p-4 cursor-pointer blog_card"
      >
        <Image
          class="rounded-t-lg"
          src={img1}
          class="me-3 align-middle rounded-3xl"
          alt="Blog Image"
        />
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-[#12344D] pt-6 leading-8 hover:text-[#FFF]"
        >
          The Right Field Service Technician Training Program: A Step-By-Step
        </h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Field technicians reflect the quality and integrity of your field
          service business. They are responsible for providing unparalleled
          technical support to your...
        </p>
      </div>
      <div
        class="text-up js-scroll max-w-sm bg-white border border-[#12344D] rounded-3xl p-4 cursor-pointer blog_card"
      >
        <Image
          class="rounded-t-lg"
          src={img2}
          class="me-3 align-middle rounded-3xl"
          alt="Blog Image"
        />
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-[#12344D] pt-6 leading-8 hover:text-[#FFF]"
        >
          Choose the Right Escalator Maintenance Company for Your Business Needs
        </h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Field technicians reflect the quality and integrity of your field
          service business. They are responsible for providing unparalleled
          technical support to your...
        </p>
      </div>
      <div
        class="text-up js-scroll max-w-sm bg-white border border-[#12344D] rounded-3xl p-4 cursor-pointer blog_card"
      >
        <Image
          class="rounded-t-lg"
          src={img3}
          class="me-3 align-middle rounded-3xl"
          alt="Blog Image"
        />
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-[#12344D] pt-6 leading-8 hover:text-[#FFF]"
        >
          How Rising Insurance Costs Impact Snow Removal Businesses
        </h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Field technicians reflect the quality and integrity of your field
          service business. They are responsible for providing unparalleled
          technical support to your...
        </p>
      </div>
    </div>
  </div>
</section>
