<div class="swiper swiper-container mySwiper">
  <div class="swiper-wrapper">
    <div
      class="swiper-slide"
      style="background-image: url(https://source.unsplash.com/random?sig=24);"
    >
      <h2>SIMPLE SWIPER</h2>
    </div>

    <div
      class="swiper-slide"
      style="background-image: url(https://source.unsplash.com/random?sig=53);"
    >
      <h2>HELLO WORLD</h2>
    </div>

    <div
      class="swiper-slide"
      style="background-image: url(https://source.unsplash.com/random?sig=52);"
    >
      <h2>Random Text 1</h2>
    </div>

    <div
      class="swiper-slide"
      style="background-image: url(https://source.unsplash.com/random?sig=21);"
    >
    </div>

    <div
      class="swiper-slide"
      style="background-image: url(https://source.unsplash.com/random?sig=53);"
    >
    </div>
  </div>
  <!-- !swiper slides -->

  <!-- next / prev arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <!-- !next / prev arrows -->

  <!-- pagination dots -->
  <div class="swiper-pagination"></div>
  <!-- !pagination dots -->
</div>
