---
import zuperlogo from "../images/zuper-footerlogo.svg";
import appstore from "../images/app-store.png";
import gstore from "../images/google-store.png";
import { Image } from "astro:assets";
---

<footer>
  <div class="mx-auto w-full max-w-screen-xl container">
    <div class="lg:flex lg:justify-between gap-8">
      <div class="mb-6 md:mb-0 md:mb-4 flex flex-col items-center">
        <a href="javascript:;" class="flex items-center justify-end w-[160px]">
          <Image src={zuperlogo} class="me-3" alt="Zuper logo" />
        </a>
        <div class="flex mt-4">
          <a
            href="#"
            class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M18.2308 5.0769H5.76923C4.23983 5.0769 3 6.31673 3 7.84613V16.1538C3 17.6832 4.23983 18.9231 5.76923 18.9231H18.2308C19.7602 18.9231 21 17.6832 21 16.1538V7.84613C21 6.31673 19.7602 5.0769 18.2308 5.0769Z"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M9.66039 15.2123V9.39695C9.6575 9.29877 9.68144 9.20166 9.72964 9.11608C9.77784 9.03049 9.84847 8.95968 9.93393 8.91125C10.0194 8.86283 10.1164 8.83863 10.2146 8.84126C10.3128 8.84389 10.4084 8.87325 10.4912 8.92618L15.4758 11.8339C15.5591 11.8827 15.6281 11.9525 15.6761 12.0363C15.7241 12.1201 15.7493 12.215 15.7493 12.3116C15.7493 12.4081 15.7241 12.503 15.6761 12.5868C15.6281 12.6706 15.5591 12.7404 15.4758 12.7893L10.4912 15.697C10.4066 15.7458 10.3106 15.7714 10.213 15.7712C10.1153 15.7709 10.0195 15.7449 9.93515 15.6957C9.8508 15.6465 9.78097 15.5759 9.73271 15.491C9.68446 15.4061 9.65951 15.31 9.66039 15.2123V15.2123Z"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
          <a
            href="#"
            class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-3"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M13.365 7.82806C13.365 6.44153 14.0582 6.44153 14.7515 6.44153H15.5834C15.7223 6.4434 15.8602 6.41742 15.9888 6.36512C16.1175 6.31282 16.2344 6.23528 16.3327 6.13705C16.4309 6.03883 16.5084 5.92192 16.5607 5.79323C16.613 5.66454 16.639 5.52668 16.6372 5.38778V4.08445C16.6372 3.94489 16.6095 3.80673 16.5556 3.67797C16.5018 3.54921 16.423 3.43242 16.3236 3.33439C16.2243 3.23635 16.1065 3.15902 15.977 3.10689C15.8476 3.05476 15.7091 3.02886 15.5695 3.03069L13.6007 3.00296C13.0274 2.98079 12.4561 3.08328 11.9263 3.30335C11.3965 3.52342 10.9207 3.85584 10.5318 4.27766C10.143 4.69948 9.85027 5.20065 9.67392 5.74659C9.49758 6.29253 9.4418 6.87024 9.51043 7.43983V9.45028H8.41508C8.13561 9.45028 7.86758 9.5613 7.66997 9.75892C7.47235 9.95654 7.36133 10.2246 7.36133 10.504V11.8074C7.36133 12.0868 7.47235 12.3549 7.66997 12.5525C7.86758 12.7501 8.13561 12.8611 8.41508 12.8611H9.51043V20.3067C9.51043 20.4906 9.58347 20.6669 9.71349 20.7969C9.8435 20.927 10.0198 21 10.2037 21H12.7133C12.8899 20.9894 13.0557 20.9117 13.1768 20.7828C13.298 20.6539 13.3653 20.4836 13.365 20.3067V12.8611H14.5851C14.8646 12.8611 15.1326 12.7501 15.3302 12.5525C15.5278 12.3549 15.6389 12.0868 15.6389 11.8074V10.504C15.6389 10.2246 15.5278 9.95654 15.3302 9.75892C15.1326 9.5613 14.8646 9.45028 14.5851 9.45028H13.365V7.82806Z"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
          <a
            href="#"
            class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-3"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M7.25679 4.75429C7.26051 5.23305 7.07571 5.69406 6.74233 6.0377C6.40895 6.38134 5.95375 6.58002 5.47509 6.59081C4.99742 6.57328 4.54474 6.37292 4.2106 6.03112C3.87646 5.68933 3.6864 5.23223 3.67969 4.75429C3.70045 4.28863 3.8975 3.84829 4.2309 3.52253C4.56429 3.19677 5.00908 3.00997 5.47509 3C5.93974 3.01016 6.38297 3.19742 6.71414 3.5235C7.04532 3.84958 7.23943 4.28985 7.25679 4.75429ZM3.87156 9.85268C3.87156 8.79737 4.54313 8.96184 5.47509 8.96184C6.40706 8.96184 7.06491 8.79737 7.06491 9.85268V20.1317C7.06491 21.2007 6.39335 20.9814 5.47509 20.9814C4.55683 20.9814 3.87156 21.2007 3.87156 20.1317V9.85268Z"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M9.83398 9.85268C9.83398 9.26335 10.0533 9.04407 10.3959 8.97554C10.7385 8.90701 11.9172 8.97554 12.3284 8.97554C12.7395 8.97554 12.904 9.6471 12.8903 10.1542C13.242 9.68218 13.7089 9.3083 14.2464 9.06834C14.784 8.82838 15.3741 8.73036 15.9603 8.78366C16.5359 8.74847 17.1126 8.83478 17.6527 9.03698C18.1928 9.23918 18.6844 9.55275 19.0954 9.95732C19.5064 10.3619 19.8278 10.8484 20.0385 11.3853C20.2492 11.9221 20.3447 12.4973 20.3186 13.0734V20.0906C20.3186 21.1596 19.6607 20.9403 18.7288 20.9403C17.7968 20.9403 17.1389 21.1596 17.1389 20.0906V14.6084C17.163 14.3263 17.1261 14.0423 17.0307 13.7756C16.9353 13.509 16.7837 13.2661 16.5861 13.0632C16.3884 12.8604 16.1495 12.7025 15.8854 12.6002C15.6214 12.4979 15.3384 12.4536 15.0557 12.4704C14.7744 12.4633 14.4947 12.516 14.2352 12.625C13.9757 12.7341 13.7424 12.897 13.5506 13.103C13.3589 13.3091 13.213 13.5535 13.1228 13.8201C13.0326 14.0867 13.0001 14.3694 13.0273 14.6496V20.1317C13.0273 21.2007 12.3558 20.9814 11.4238 20.9814C10.4918 20.9814 9.83398 21.2007 9.83398 20.1317V9.85268Z"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
          <a
            href="#"
            class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-3"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M12 7.77551C11.1645 7.77551 10.3477 8.02327 9.653 8.48746C8.95829 8.95166 8.41682 9.61143 8.09708 10.3834C7.77734 11.1553 7.69368 12.0047 7.85668 12.8242C8.01969 13.6436 8.42203 14.3964 9.01284 14.9872C9.60364 15.578 10.3564 15.9803 11.1758 16.1433C11.9953 16.3063 12.8447 16.2227 13.6166 15.9029C14.3886 15.5832 15.0483 15.0417 15.5125 14.347C15.9767 13.6523 16.2245 12.8355 16.2245 12C16.2245 10.8796 15.7794 9.80508 14.9872 9.01284C14.1949 8.22059 13.1204 7.77551 12 7.77551ZM12 15.1224C11.3824 15.1224 10.7787 14.9393 10.2653 14.5962C9.75178 14.2531 9.35156 13.7655 9.11523 13.1949C8.8789 12.6244 8.81707 11.9965 8.93755 11.3908C9.05803 10.7851 9.35541 10.2288 9.79209 9.79209C10.2288 9.35541 10.7851 9.05803 11.3908 8.93755C11.9965 8.81707 12.6244 8.8789 13.1949 9.11523C13.7655 9.35156 14.2531 9.75178 14.5962 10.2653C14.9393 10.7787 15.1224 11.3824 15.1224 12C15.12 12.8274 14.7903 13.6202 14.2052 14.2052C13.6202 14.7903 12.8274 15.12 12 15.1224ZM16.0408 3H7.95918C6.64393 3 5.38254 3.52248 4.45251 4.45251C3.52248 5.38254 3 6.64393 3 7.95918V16.0408C3 17.3561 3.52248 18.6175 4.45251 19.5475C5.38254 20.4775 6.64393 21 7.95918 21H16.0408C17.3561 21 18.6175 20.4775 19.5475 19.5475C20.4775 18.6175 21 17.3561 21 16.0408V7.95918C21 6.64393 20.4775 5.38254 19.5475 4.45251C18.6175 3.52248 17.3561 3 16.0408 3ZM19.898 16.0408C19.898 17.0638 19.4916 18.0449 18.7682 18.7682C18.0449 19.4916 17.0638 19.898 16.0408 19.898H7.95918C6.93621 19.898 5.95513 19.4916 5.23177 18.7682C4.50842 18.0449 4.10204 17.0638 4.10204 16.0408V7.95918C4.10204 6.93621 4.50842 5.95513 5.23177 5.23177C5.95513 4.50842 6.93621 4.10204 7.95918 4.10204H16.0408C17.0638 4.10204 18.0449 4.50842 18.7682 5.23177C19.4916 5.95513 19.898 6.93621 19.898 7.95918V16.0408ZM17.6939 7.22449C17.6939 7.40613 17.64 7.58368 17.5391 7.73471C17.4382 7.88573 17.2948 8.00344 17.127 8.07295C16.9591 8.14246 16.7745 8.16065 16.5963 8.12521C16.4182 8.08978 16.2546 8.00231 16.1261 7.87387C15.9977 7.74544 15.9102 7.5818 15.8748 7.40365C15.8394 7.22551 15.8575 7.04086 15.927 6.87305C15.9966 6.70524 16.1143 6.56181 16.2653 6.4609C16.4163 6.35998 16.5939 6.30612 16.7755 6.30612C17.0191 6.30612 17.2527 6.40288 17.4249 6.57511C17.5971 6.74733 17.6939 6.98092 17.6939 7.22449Z"
                fill="white"></path>
            </svg>
          </a>
          <a
            href="#"
            class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-3"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M7.79255 15.3845C6.78498 16.1759 5.62849 16.7565 4.39192 17.0918C4.25572 17.1413 4.13804 17.2315 4.05488 17.3501C3.97171 17.4688 3.9271 17.6101 3.9271 17.755C3.9271 17.8999 3.97171 18.0413 4.05488 18.16C4.13804 18.2786 4.25572 18.3688 4.39192 18.4182C14.1564 22.4256 20.365 16.2311 19.4196 9.35928L21 6.08564H19.1656C16.8797 3.27765 10.8122 3.41875 11.8141 9.40161C11.8141 9.40161 8.56863 9.98015 4.42014 5.90221C4.32418 5.80746 4.20307 5.74221 4.07117 5.71417C3.93926 5.68612 3.80209 5.69647 3.67588 5.74399C3.54968 5.7915 3.43973 5.87418 3.35907 5.98225C3.27841 6.09032 3.2304 6.21924 3.22075 6.35374C2.78209 8.15685 3.00161 10.0573 3.83978 11.713C4.67794 13.3686 6.07967 14.6706 7.79255 15.3845V15.3845Z"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      </div>
      <div
        class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3 lg:grid-cols-4 mt-3"
      >
        <div>
          <h6
            class="mb-6 text-[18px] font-semibold text-gray-900 dark:text-white"
          >
            Solutions
          </h6>
          <ul class="text-gray-500 dark:text-gray-400 font-small">
            <li class="mb-4">
              <a href="javascript:;" class="hover:underline"
                >Grow your business</a
              >
            </li>
            <li class="mb-4">
              <a href="javascript:;" class="hover:underline"
                >Improve Operational Efficiency</a
              >
            </li>
            <li class="mb-4">
              <a href="javascript:;" class="hover:underline"
                >Modernize Customer Experience</a
              >
            </li>
            <li class="mb-4">
              <a href="javascript:;" class="hover:underline"
                >Make Data-Driven Actions</a
              >
            </li>
            <li class="mb-4">
              <a href="javascript:;" class="hover:underline"
                >Field Service Management Software</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h6
            class="mb-6 text-[18px] font-semibold text-gray-900 dark:text-white"
          >
            Developers
          </h6>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="javascript:;" class="hover:underline">Developer Portal</a
              >
            </li>
            <li class="mb-4">
              <a href="javascript:;" class="hover:underline">API Reference</a>
            </li>
            <li class="mb-4">
              <a href="javascript:;" class="hover:underline">Status</a>
            </li>
            <li class="mb-4">
              <a href="javascript:;" class="hover:underline">Developers' Help</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h6
            class="mb-6 text-[18px] font-semibold text-gray-900 dark:text-white"
          >
            Resources
          </h6>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="javascript:;" class="hover:underline">Customer Stories</a
              >
            </li>
            <li class="mb-4">
              <a href="javascript:;" class="hover:underline">Videos</a>
            </li>
            <li class="mb-4">
              <a href="javascript:;" class="hover:underline">ZuperFM Podcast</a>
            </li>
            <li class="mb-4">
              <a href="javascript:;" class="hover:underline">Blog</a>
            </li>
          </ul>
        </div>
        <div>
          <h6
            class="mb-6 ttext-[18px] font-semibold text-gray-900 dark:text-white"
          >
            Company
          </h6>
          <ul class="text-white font-medium">
            <li class="mb-4">
              <a href="javascript:;" class="hover:underline">Leadership</a>
            </li>
            <li class="mb-4">
              <a href="javascript:;" class="hover:underline">Press & Media</a>
            </li>
            <li class="mb-4">
              <a href="javascript:;" class="hover:underline"
                >Partners & Resellers</a
              >
            </li>
            <li class="mb-4">
              <a href="javascript:;" class="hover:underline">Careers</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="w-full md:flex md:items-center md:justify-between mt-12">
      <div
        class="flex flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0 justify-center"
      >
        <a
          href="mailto:hello@zuper.co"
          class="text-sm text-white mb-2 text-center me-8 flex align-middle"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="25"
            viewBox="0 0 24 25"
            fill="none"
            class="mr-2"
          >
            <path
              d="M3 5.31274H21V19.8512H3V5.31274Z"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M3 7.06433L11.1069 13.9057C11.3567 14.1166 11.6731 14.2322 12 14.2322C12.3269 14.2322 12.6433 14.1166 12.8931 13.9057L21 7.06433"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>Email : hello@zuper.co
        </a>
        <a
          href="tel: 18887187858"
          class="text-sm text-white mb-2 block text-center flex"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="25"
            viewBox="0 0 24 25"
            fill="none"
            class="mr-2"
          >
            <path
              d="M14.4261 20.8643C15.277 21.4132 16.291 21.6525 17.2975 21.5418C18.304 21.431 19.2418 20.9771 19.953 20.2563L20.5748 19.6484C20.8474 19.3696 21 18.9951 21 18.6052C21 18.2152 20.8474 17.8408 20.5748 17.562L17.9357 14.9505C17.6592 14.6788 17.287 14.5265 16.8994 14.5265C16.5117 14.5265 16.1396 14.6788 15.8631 14.9505V14.9505C15.5843 15.2231 15.2098 15.3757 14.8199 15.3757C14.4299 15.3757 14.0555 15.2231 13.7767 14.9505L9.6315 10.8053C9.49322 10.6691 9.38341 10.5067 9.30846 10.3276C9.23351 10.1485 9.19491 9.95627 9.19491 9.76212C9.19491 9.56798 9.23351 9.37578 9.30846 9.19668C9.38341 9.01759 9.49322 8.85519 9.6315 8.71892V8.71892C9.90322 8.44243 10.0555 8.07028 10.0555 7.68262C10.0555 7.29497 9.90322 6.92282 9.6315 6.64633L7.00622 4.02105C6.7274 3.74845 6.35295 3.59583 5.96301 3.59583C5.57308 3.59583 5.19863 3.74845 4.91981 4.02105L4.31185 4.64282C3.59107 5.35406 3.13715 6.29178 3.02643 7.29832C2.91571 8.30486 3.15494 9.31883 3.70389 10.1697C6.56413 14.385 10.2034 18.0149 14.4261 20.8643V20.8643Z"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>Phone : 18887187858
        </a>
      </div>

      <div
        class="flex flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0 justify-center gap-2"
      >
        <a href="javascript:;" class="flex items-center justify-end">
          <Image src={appstore} alt="appstore" title="Apple Store" />
        </a>
        <a href="javascript:;" class="flex items-center justify-end">
          <Image src={gstore} alt="gstore" title="Play Store" />
        </a>
      </div>
    </div>
    <hr class="my-6 sm:mx-auto border-[#B2B4BB] lg:my-8" />
    <div class="w-full md:flex md:items-center md:justify-between">
      <span class="text-sm text-white mb-2 block text-center"
        >© 2024 Zuper.co</span
      >
      <ul
        class="flex flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0 justify-center"
      >
        <li>
          <a href="javascript:;" class="hover:underline me-4 md:me-6">Support</a
          >
        </li>
        <li>
          <a href="javascript:;" class="hover:underline me-4 md:me-6"
            >Terms of Service</a
          >
        </li>
        <li>
          <a href="javascript:;" class="hover:underline me-4 md:me-6"
            >Privacy Policy</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
